<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/images/logoFatima.png" alt="" style="height: 50px;"></a>
      <a class="navbar-brand" href="#">COLEGIO FATIMA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">NOTICIAS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DOCENTE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">TAREAS</a></li>
              <li><a class="dropdown-item" href="#">NOTAS</a></li>
              <li><a class="dropdown-item" href="#">AVISO</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">AUTORIZACION</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ADMINISTRADOR
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="['/registrar']">REGISTRAR USUARIO</a>
              </li>
              <li><a class="dropdown-item" href="#">HORARIO DOCENTE</a></li>
              <li routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="['/grupo']">GRUPO</a>
              </li>
              <li><a class="dropdown-item" href="#">SALON</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="BUSCAR" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </nav>