<h1 style="text-align: center;">REGISTRO DE USUARIOS</h1>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"><i class="fa fa-arrow-left"> REGRESAR</i></button>
    </div>
</div>

<div class="text-center">
    <div class="col-xs-12">
        <form (ngSubmit)="guardar(f)" #f="ngForm" class="contenedor" style="border: 1px solid #d0d0d0;">
            <div class="form-group">
                <label for="FIREBASE ID"></label>
                <input type="text" name="" class="form-control" disabled="disabled" placeholder="FIREBASE ID" [(ngModel)]="usuario.idUsuario" name="id" required>
                <small class="form-text text-mutted">ESTE CAMPO ES AUTOGENERADO</small>
            </div>
            <br>
            <div class="form-group" >
                <label class="col-lg-8">NOMBRE</label>
                <input type="text" class="form-control" placeholder="NOMBRE" [(ngModel)]="usuario.nombreUsuario" name="nombre" required>
            </div>
            <br>
            <div class="form-group">
                <label>APELLIDO</label>
                <input type="text" class="form-control" placeholder="APELLIDO" [(ngModel)]="usuario.apellidoUsuario" name="apellido" required>
            </div>
            <br>
            <div class="form-group">
                <label>EMAIL</label>
                <input type="text" class="form-control" placeholder="EMAIL" [(ngModel)]="usuario.email" name="email" required>
            </div>
            <br>
            <div class="form-group">
                <label>CONTRASEÑA</label>
                <input type="text" class="form-control" placeholder="CONTRASEÑA" [(ngModel)]="usuario.contrasena" name="contrasena" required>
            </div>
            <br>
            <div class="form-group">
                <label>CONFIRMAR</label>
                <input type="text" class="form-control" placeholder="CONTRASEÑA" required>
            </div>
            <br>
            <div class="form-group">
                <label>TIPO DE USUARIO</label>
                <select class="form-control" [(ngModel)]="usuario.tipoUsuario" name="tipoUsuario">
                    <option>DOCENTE</option>
                    <option>ESTUDIANTE</option>
                    <option>PADRE DE FAMILIA</option>
                </select>
            </div>
            <br>
            <div class="form-group" *ngIf="usuario.tipoUsuario == 'ESTUDIANTE'">
                <label>ACUDIANTE</label>
                <select *ngFor="let padre of padres" class="form-control" [(ngModel)]="usuario.acudiente" name="acudiente">
                    <option>{{padre.nombreUsuario}}</option>
                </select>
            </div>
            <br>
            <div class="form-group" *ngIf="usuario.tipoUsuario == 'ESTUDIANTE'">
                <label>GRUPO</label>
                <input type="text" class="form-control" placeholder="GRUPO" [(ngModel)]="usuario.grupo" name="grupo" required> 
            </div>
            <br>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25"><i class="fa fa-save"></i> GUARDAR </button>
            </div>
        </form>
    </div>
</div>
