<main>
    <div class="miPelicula-principal">
      <div class="contenedor">
        <h3 class="titulo">BIENVENIDO AL COLEGIO FATIMA</h3>
        <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Id aperiam cupiditate sed asperiores eos iure in, architecto, doloribus ab autem consequatur. 
          Labore libero ducimus quia porro asperiores illo, placeat aliquam.</p>
        <button type="button" class="btn btn-secondary" class="boton">MÁS INFORMACIÓN</button>
      </div>
    </div>
  </main>